.soil-moisture-chart {
    height: 300px;
    width: 100%;
    // margin-left: 1%;
    // margin-top: -680px;
}

.soil-moisture-container {
    width: 45%;
    margin-top: -650px;
    margin-left: 3%;
} 